:root {
  --spacer: 1rem;

  --white: #ffffff;
  --gray-100: #F1F1F1;
  --gray-200: #E1E1E1;
  --gray-300: #D1D1D1;
  --gray-900: #333333;
  --primary: #0097F5;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 11px;
  line-height: var(--spacer);
}

.nodes-list {
  padding: .5rem 0;
}

.text-node {
  padding: .5rem .25rem .5rem 1rem;
  cursor: pointer;
}