:root {
  --spacer: 1rem;

  --white: #ffffff;
  --gray-100: #F1F1F1;
  --gray-200: #E1E1E1;
  --gray-300: #D1D1D1;
  --gray-900: #333333;
  --primary: #0097F5;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 11px;
  line-height: var(--spacer);
}

.nodes-list {
  padding: 8px 0;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 10px;
}

.text-node {
  padding: 2px 16px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-100);
  position: relative;
  margin-right: 2px;
}

.text-node:first-of-type {
  border-top: 1px solid var(--gray-100);
}

.text-node:focus-within {
  background-color: var(--gray-100);
}

.edit-form-text, .edit-form-text-name {
  font-size: 11px;
  line-height: 16px;
  padding: 8px 2px;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.edit-form-text-name {
  color: var(--gray-300);
}

.edit-form-text:focus, .edit-form-text-name:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: text;
}
